*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --subtitle-clr: #6B6B6B;
}

.logo {
    align-items: center;
}

.navbar {
    background-color: #fafafa;
    /* border: 1px solid red; */
    width: 100%;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    margin: 0;

    * {
        margin: 0;
        padding: 0;
    }

    a, a:visited {
        color: black !important;
        text-decoration: none !important;
    }
}

.nav {
    gap: clamp(1rem, 3vw, 2rem);
    align-items: center;
}

.nav > * {
    width: fit-content;
    height: 25px;
}
.nav > *:hover {
    border-bottom: 2px solid #242424;
}

.navbar :first-child {
    margin-right: auto;
}

.nav :last-child {
    margin-right: 2rem;
}
.title {
    font-size: clamp(2rem, 3vw, 2.5rem);
}

.subtitle {
    color: var(--subtitle-clr);
    font-weight: 400;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    margin-bottom: 2rem;
}

.author-img {
    width: 3.5rem;
    height: 3.5rem;
    clip-path: circle();
}

.author-container {
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.name-date-container {
    align-items: center;
    grid-template-columns: 70px 10px 1fr;
}

.name-date-container :first-child{
    grid-column: span 3;
}

.date, .read-length {
    color: var(--subtitle-clr);
    font-size: .8rem;
}

.reference {
    font-size: .9rem;
    padding-left: 50px ;
    text-indent: -50px ;
}

.apa-title {
    font-style: italic;
}

@media (max-width: 500px) {
    .logo h1 {
        display: none;
    }
}