*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --subtitle-clr: #6B6B6B;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #242424;
}

main {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    /* color: #444; */
    padding: 1rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    margin-block-start: 1.56em;
    margin-block-end: 1.56em;
}

li {
    margin-block-start: 1.56em;
    margin-block-end: 1.56em;
}
h1, h2 {
    margin: 0;
    padding: 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figcaption {
    margin-top: 1rem;
    font-size: .8rem;
    text-align: center;
}

a, a:visited {
    color: #242424;
    text-decoration: underline;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.navbar {
    background-color: white;
    /* border: 1px solid red; */
    width: 100%;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    margin: 0;

    * {
        margin: 0;
        padding: 0;
    }

    a, a:visited {
        color: black !important;
        text-decoration: none !important;
    }
}

.navbar :first-child {
    margin-right: auto;
}

.navbar :last-child {
    padding-right: 2rem;
}

.title {
    font-size: clamp(2rem, 3vw, 2.5rem);
}

.subtitle {
    color: var(--subtitle-clr);
    font-weight: 400;
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    margin-bottom: 2rem;
}

.author-img {
    width: 3.5rem;
    height: 3.5rem;
    clip-path: circle();
}

.author-container {
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.name-date-container {
    align-items: center;
    grid-template-columns: 70px 10px 1fr;
}

.name-date-container :first-child{
    grid-column: span 3;
}

.date, .read-length {
    color: var(--subtitle-clr);
    font-size: .8rem;
}

.reference {
    font-size: .9rem;
    padding-left: 50px ;
    text-indent: -50px ;
}

.apa-title {
    font-style: italic;
}