*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --min-font-size: 1rem;
    --max-font-size: 1.25rem;
    --min-viewport-width: 20rem;
    --max-viewport-width: 75rem;
    font-size: clamp(
        var(--min-font-size),
        calc(var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) * ((100vw - var(--min-viewport-width)) / (var(--max-viewport-width) - var(--min-viewport-width)))),
        var(--max-font-size)
    );
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #242424;
    background-color: #fafafa;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
.container {
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    overflow: hidden;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.logo {
    align-items: center;
}

.navbar {
    margin: 0;
    background-color: #fafafa;
    width: 100%;
    align-items: center;
    /* border: 1px solid red; */
    padding: 1rem;

    a, a:visited {
        color: inherit;
        text-decoration: none;
    }
}


.nav {
    gap: clamp(1rem, 3vw, 2rem);
    align-items: center;
}

.nav > * {
    width: fit-content;
    height: 25px;
}
.nav > *:hover {
    border-bottom: 2px solid #242424;
}

.navbar :first-child {
    margin-right: auto;
}

.nav :last-child {
    margin-right: 2rem;
}


.hero {
    place-items: center;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
}

.hero-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 0.75rem;
    min-height: 600px;
    object-fit: cover;
}

.hero-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
}

.blog-header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;

    h2 {
        font-size: clamp(1rem, 3vw, 1.8rem);
    }

    p {
        max-width: 75ch;
        text-align: center;
        font-size: clamp(0.7rem, 2vw, 1rem);
    }
}


.blogs-container {
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18.75rem), 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3rem;
}

.card {
    background-color: white;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 21.875rem;
    grid-template-rows: 180px 2fr 1fr 56px;
    height: 400px;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 0.3);
    align-items: center;
    text-decoration: none;
}

.card:visited,
.card {
    color: inherit;
}

.card-img {    
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.card-title {
    font-size: clamp(1rem, 3vw, 1.35rem);
    padding-inline: 1rem;
    align-self: center;
}

.card-subtitle {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    color: rgb(63, 63, 63);
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.author-date-container {
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.author-img {
    width: 2.5rem;
    height: 2.5rem;
    clip-path: circle();
}

.author-name {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    margin-right: auto;
}

.publish-date {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
}

.footer {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
}

.footer a {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 500px) {
    .logo h1 {
        display: none;
    }
}